<footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
        <i>Dijital Dönüşüm Merkezi.</i>
    </div>
    <!-- Default to the left -->
    <strong>Yardım ve Destek İçin : halit@goktas.net | 0533 524 86 94 || Özhan Özatay : 0533 727 02 32</strong>
</footer>