<footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
        <i>Göktaş Bilgisayar Dijital Dönüşüm Merkezi.</i>
    </div>
    <!-- Default to the left -->
    <strong>Yardım ve Destek İçin : Halit Göktaş |  halit@goktas.net  | 0533 524 86 94</strong>
</footer>