@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
     
</div>
 
@section css
{
    <link href="~/plugins/adminLte/plugins/daterangepicker/daterangepicker.css" rel="stylesheet" />
    <link href="~/plugins/adminLte/plugins/datatables-select/css/select.bootstrap4.css" rel="stylesheet" />
    <link href="~/plugins/adminLte/plugins/chart.js/Chart.css" rel="stylesheet" />

    <style>
        .notiflix-block-position {
            min-height: 0px !important;
        }
    </style>
}
@section Scripts
{

    <script src="~/plugins/adminLte/plugins/inputmask/jquery.inputmask.min.js"></script>
    <script src="~/plugins/adminLte/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aspnet-signalr/1.1.4/signalr.js"></script>
    

    <script src="~/plugins/adminLte/plugins/chart.js/Chart.js"></script>
}