@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row">
    <div class="col-6">
        <div class="row">
            <div class="col-6">
                <div class="card card-success">
                    <div class="card-header">
                        <h4 class="text-center">12:30 / Abdullah / B01</h4>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-10">
                                <div class="row">
                                    <div class="col-12">Ürün</div>

                                </div>
                            </div>
                            <div class="col-2 text-center">
                                Adet
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-10">
                                <div class="row">
                                    <div class="col-12"><h3>Patates Kızartması</h3></div>
                                    <div class="col-12"><span class="text-danger">Bol Tuzlu</span></div>
                                </div>
                            </div>
                            <div class="col-2 text-center text-bold text-primary fa-2x">
                                5
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-10">
                                <div class="row">
                                    <div class="col-12"><h3>Adana Kebap</h3></div>
                                    <div class="col-12">
                                        <span class="text-danger">Az Yağlı,Çift Lavaş</span>

                                    </div>
                                </div>
                            </div>
                            <div class="col-2 text-center text-bold text-primary fa-2x">
                                2
                            </div>
                        </div>
                        <hr />
                    </div>

                </div>

            </div>




        </div>
    </div><!--Col-6-->
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Striped Full Width Table</h3>
            </div>

            <div class="card-body p-0">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width: 60px">Saat</th>
                            <th colspan="2">Ürün</th>
                            <th style="width: 60px">Adet</th>
                            <th style="width: 100px">Masano</th>
                            <th style="width: 150px">Garson</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-primary text-bold fa-2x">12:30</td>
                            <td colspan="2" class="text-success text-bold fa-2x">Karışık Pirzola Tavuk Hariç</td>
                            <td class="text-primary text-bold fa-2x">1</td>
                            <td class="text-primary text-bold fa-2x">B052</td>
                            <td class="text-primary text-bold fa-1x">KEMAL ALİ</td>
                        </tr>
                        <tr>
                            <td class="text-primary text-bold fa-2x">12:30</td>
                            <td colspan="2" class="text-success text-bold fa-2x">1.5L Su</td>
                            <td class="text-primary text-bold fa-2x">11</td>
                            <td class="text-primary text-bold fa-2x">B052</td>
                            <td class="text-primary text-bold fa-1x">KEMAL ALİ</td>
                        </tr>
                        <tr>
                            <td class="text-primary text-bold fa-2x">12:30</td>
                            <td colspan="2" class="text-success text-bold fa-2x">Çay</td>
                            <td class="text-primary text-bold fa-2x">2</td>
                            <td class="text-primary text-bold fa-2x">B052</td>
                            <td class="text-primary text-bold fa-1x">KEMAL ALİ</td>
                        </tr>
                        <tr>
                            <td class="text-primary text-bold fa-2x">12:30</td>
                            <td colspan="2" class="text-success text-bold fa-2x">Karışık Pirzola Tavuk Hariç</td>
                            <td class="text-primary text-bold fa-2x">4</td>
                            <td class="text-primary text-bold fa-2x">B052</td>
                            <td class="text-primary text-bold fa-1x">KEMAL ALİ</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

</div>

@section css
{
    <style>
        .main-sidebar {
            display: none !important;
        }

        body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .content-wrapper, body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-footer, body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-header {
            /* transition: margin-left .3s ease-in-out; */
            margin-left: 0 !important;
        }

        hr {
            margin-top: 0px !important;
            margin-bottom: 0px !important;
        }
        .card-header {
            padding-bottom: 0px !important;
        }
    </style>

}

