@model List<ElektraReport.Applications.Companys.ViewModels.VM_Company>
<div class="row">

    <div class="col-md-12">
        <div class="card card-dark">

            <div class="card-header">
                <div class="row">
                    <div class="col-md-4 form-group">
                        <select class="form-control" id="companyName">
                            @foreach (var item in Model)
                            {
                            @if(ViewBag.CompanyId==item.Id)
                            {
                            <option value="@item.Id" selected>@item.CompanyName</option>
                            }else {
                            <option value="@item.Id">@item.CompanyName</option>
                            }

                            }
                            <option value="00000000-0000-0000-0000-000000000000">Tüm Oteller</option>
                        </select>
                    </div>
                    <div class="col-md-4 form-group">
                        <input class="form-control" type="text" id="tcno" placeholder="TcNo" />
                    </div>
                    <div class="col-md-4 form-group">
                        <input class="form-control" type="text" id="adsoyad" placeholder="Ad Soyad" />
                    </div>
                </div>
                <div class="row">
                    <button type="button" onclick="datatableUpdate()" class="btn btn-success mr-1">Filtrele</button>
                </div>
            </div>

            <div class="card-body">
                <table class="table table-striped- table-bordered table-hover table-checkable" id="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th width="50">İşlemler</th>
                            <th>Otel Adı</th>
                            <th>Odano</th>
                            <th>T.C. No</th>
                            <th>Adı</th>
                            <th>Soyadı</th>
                            <th>Giriş Tarihi</th>
                            <th>Çıkış Tarihi</th>
                            <th>Doğum Tarihi</th>
                            <th>GsmNo</th>
                            <th>Geldiği İl</th>
                            <th>Formu Var mi?</th>
                        </tr>
                    </thead>
                </table>
            </div>

            <div class="card-footer">

            </div>

        </div>
    </div>

</div>


@section Scripts
{
    <script src="~/js/Datatable/DataTable_GetData.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            GetDataTable();
        });


        var GetDataTable = function () {

            var clmns = [
                { "data": null, visible: false },
                {
                    visible: false,
                    data: null,
                    className: "dt-center",
                    targets: -1,
                    orderable: false,
                    render: function (data, type, full, meta) {
                        if (full.isCheckOut) {
                            return "<span class='text-danger'>Çıkış Yaptı</span>"
                        }
                        return '';
                    }
                },
                { "data": "otelAdi" },
                { "data": "odano" },
                { "data": "tcNo" },
                { "data": "adi" },
                { "data": "soyadi" },
                {
                    "data": "girisTarihi",
                    "render": function (data, type, row) {
                        return moment(data).format("DD.MM.YYYY")
                    }
                },
                {
                    "data": "cikisTarihi",
                    "render": function (data, type, row) {
                        return moment(data).format("DD.MM.YYYY")
                    }
                },
                {
                    "data": "dogumTarihi",
                    "render": function (data, type, row) {
                        return moment(data).format("DD.MM.YYYY")
                    }
                },
                { "data": "gsmNo" },
                { "data": "geldigiIl" },
                { "data": "formVar" }


            ];

            var get = "CompanyId=" + $("#companyName").val();
            get = get + "&adsoyad=" + $("#adsoyad").val();
            get = get + "&tcno=" + $("#tcno").val();
            GetData("/DepremKayit/GetAllOtel?"+get, "", "", clmns);

        };

        function datatableUpdate() {
            GetDataTable();
        }


    </script>


}